.hidden {
    display: none;
}

.max-number {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}
.guess-number {
    margin-bottom: 10px;
}
.result-message {
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}